*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 19px;
    line-height: 28px;  
    font-family: Arial, Helvetica, sans-serif;
}

#area-cabecalho{
    width: 100%;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#barra{
    display: grid;
    width: 100%;
    max-width: 584px;
    margin-top: 26px;
    margin-bottom: 18px;
}

#pesquisa{
    position: absolute;
    grid-area: 1/1;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    font-size: 16px;
    padding-left: 47px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    left: 5%;
    top: 10%;
}

#pesquisa:hover, #pesquisa:focus {
  outline: none;
}

.img-pesquisa{
    position: absolute;
    width: 34px;
    left: 20%;
    top: 11%;
}

.img-pesquisa:hover{
    outline: none;
}

.img-logo{
    position: relative;
    width: 350px;
    left: 56%; 
}

h1{
    font-family: bitter;
    position: relative;
    width: 20%;
    left: 45%;
}

button {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    width: 155px;
    padding: 10px 5px;
    background: #443A3B;
    border: 1px;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    left: 8%;
    margin: 8px;
}

.area-login button:hover{
    background: transparent;
    border: 2px solid;
    background: transparent;
    border-radius: 28px;
    color: #443A3B;
}

 .area-menu{
    position: absolute;
    width: 600px;
    left: 32%;
    top: 130px;
}

#menu a{
    text-decoration: none;
    color: #000;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: bold;
}

hr{
    position: absolute;
    width: 100%;
    top: 17%;
} 

#formulario input{
    position: relative;
    font-size: 15px;
    width: 700px;
    padding: 10px 5px;
    border: 2px solid;
    border-radius: 25px;
    color: #E5E5E5;
    margin: 8px;
    left: 25%;
    top: 0%;
}

#formulario{
    position: relative;
    top: 10%;
}

#enviar{
    position: relative;
    left: 66%;
}

.area-rodape{
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: #443A3B;   
    color: #fff;
    align-items: center;
}

.area-redessociais{
    position: absolute;
    width: 200px;
    left: 85%;
    top: 130%;
}

h5{
    text-align: center;
}

