*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 19px;
    line-height: 28px;  
    font-family: Arial, Helvetica, sans-serif;
}

.area-cabecalho{
    width: 100%;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form{
    display: grid;
    width: 100%;
    max-width: 584px;
    margin-top: 26px;
    margin-bottom: 18px;
}

input{
    position: absolute;
    grid-area: 1/1;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    font-size: 16px;
    padding-left: 47px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    left: 5%;
    top: 10%;
}

input:hover, input:focus {
  outline: none;
}

.img-pesquisa{
    position: absolute;
    width: 34px;
    left: 20%;
    top: 11%;
}

.img-pesquisa:hover{
    outline: none;
}

.img-logo{
    position: relative;
    width: 350px;
    left: 56%; 
}

button{
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    width: 155px;
    padding: 10px 5px;
    background: #443A3B;
    border: 1px;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    left: 8%;
    margin: 8px;
}

button:hover {
    background: transparent;
    border: 2px solid;
    background: transparent;
    border-radius: 28px;
    color: #443A3B;
}

.navbar{
    position: absolute;
    width: 600px;
    left: 30%;
    top: 16%;
}

ul li{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

hr{
    position: absolute;
    width: 100%;
    top: 17%;
} 

#carouselExampleIndicators{
    position: relative;
    width: 1000px;
    left: 15%;
}

.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;;
    border: #fff;
    border-radius: 10px;
}

h1{
    font-family: bitter;
    position: relative;
    width: 630px;
    left: 15%;
    top: 40px;
}

#area-fundo{
    position: absolute;
    padding: 350px;
    width: 1000px;
    left: 200px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.25);
}

h2{
    font-family: bitter;
}

.area-historia{
    position: absolute;
    width: 400px;
    left: 17%;  
}

p{
    text-align: justify;
}

.img-h{
    position: absolute;
    width: 550px;
    height: 700px;
    left: 650px;
    top: 821px;
}

.img-rodape{
    position: absolute;
    width: 100%;
    top: 1600px;
}

.area-rodape{
    position: absolute;
    padding: 20px;
    width: 100%;
    background-color: #443A3B;   
    color: #fff;
    align-items: center;
    top: 1900px;
}

.area-redessociais{
    position: absolute;
    width: 200px;
    left: 85%;
    top: 1950px;
}

h5{
    text-align: center;
}


/*Responsividade*/

@media (max-width: 768px) {
    .area-cabecalho{
        width: 100%;
        align-items: center;
    }

    .navbar{
        width: 15px;
        left: 0;
        top: 6%;
    }

    hr, #area-pesquisa, #button, #carouselExampleIndicators, #area-fundo, .area-historia, .img-h, #area-rodape, h1, .img-rodape{
        display: none;
    }
}